<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="home/upload">upload</a>
        <a class="nav-link" id="v-pills-home-tab" href="/home" >Record</a>
        <a class="nav-link"   href="/home/addactivity"   >Activity about resumes</a>
        <a class="nav-link"   href="/home/search" >Search</a>
        <a class="nav-link"   href="/home/account">Account</a>
    </div>
</div>
